body, html {
    font-family: Arial, sans-serif;

    height: 100%;
    margin: 0;
    font-weight: bolder;
    background-color: #e6da59;
}
#container {
    position: relative;
    top:200px;
    margin: auto;
    border: 1px solid rgb(243, 239, 239);
    border-radius: 8px;
    width: 500px;
    height: 320px;
    background-color: rgb(201, 200, 196);
    color: rgb(215, 183, 0);
    font-size: 25px;
    font-style: italic;
    text-shadow: 2px 1px 2px rgba(91, 70, 2, 0.5);
}

.arrow-left {
    display: flex;
    align-items: center;
    height: 30px;
    width: 20px;
}
.line {
    width: 10px;
    height: 8px;
    background-color: rgb(215, 183, 0);
    margin-left: 0px;
}
.triangle {
    width: 0px;
    height: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid rgb(215, 183, 0);
}

#back {
    position: relative;
    left: 10px;
    background-color: rgb(201, 200, 196);
    cursor: pointer;
    width: 90px;
    border: rgb(201, 200, 196);
}

#back_login {
    position:absolute;
    top:2px;
    left: 30px;
    font-size: 20px;
    width: 40px;
    color: rgb(215, 183, 0);
    font-weight: bolder;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(117, 100, 2, 0.5);
}

#account_annotation {
    position:relative;
    top: 95px;
    left: 10px;
}

#password_annotation {
    position:relative;
    top: 40px;
    left: 10px;
}

#accountInput {
    position: relative;
    top:65px
}

#passwordInput {
    position: relative;
    top:8px
}

.Input {
    left:10px;
    width: 210px;
    font-size: 20px;
    border-radius: 10px;
    border: white 3px solid;
    background-color: rgb(201, 200, 196);
    color: rgb(158, 154, 154);
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(54, 53, 53, 0.5);
}

#new_account {
    position: absolute;
    right: 70px;
    bottom: 20px;
    width: 100px;
    height: 100px;
    background-color: rgb(244, 52, 52);
    border: white 1px solid;
    border-radius: 100px;
    cursor: pointer;
    font-size: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bolder;
    color: rgb(28, 1, 125);
}

#new_account:hover {
    background-color: rgb(244, 78, 78);
    border: white 1px solid;
}

#ic {
    position: absolute;
    top: 70px;
    left: 40px;
    border-radius: 10px;
    width: 50px;
    height: 40px;
    background-color: rgb(255, 217, 0);
    border: rgb(86, 86, 86) 1px solid;
}
h2 {
    position: absolute;
    left: 120px;
    color: rgb(158, 154, 154);
    text-shadow: 3px 1px 2px rgba(54, 53, 53, 0.5);
}